/* Header Styling */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
}
#header {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 50px;
  }
  
  /* Box Styling */
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    /* border: #000; */
  }
  
  /* Row Styling */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
  }
  
  /* Button Styling */
  .btn {
    /* border: 2px solid #ffffff; */
    border-radius: 5px;
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-shadow: px 1px px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  /* Button Hover Styling */
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
  }
  
  /* Disabled Button Styling */
  .btn:disabled {
    color: #000;
    cursor: not-allowed;
  }
  
  /* Result Container Styling */
  .result-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    text-align:center;
    max-width: 200px;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 150px;
    height: 50px;
  }
  
  /* Result Styling */
  .result {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    color:#000;
    text-align: center;
  }
  
  /* Reset Styling */
  #reset {
    text-align: center;
    border-radius: 5px;
    width: 80px;
    height: 25px;
  }
  
  /* Reset Button Styling */
  #reset button {
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #reset button:hover {
    background-color: #000;
    color: #fff;
  }
  